body {
  color: #FFFFFF;
  font-family: 'Barlow Condensed';
  margin: 0;
  padding: 0;
}

@media (max-width: 480px) {
    body {
        background-image: url('assets/home/background-home-mobile.jpg');
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    body {
        background-image: url('assets/home/background-home-tablet.jpg');
    }
}

@media (min-width: 1025px) {
    body {
	    background-image: url('assets/home/background-home-desktop.jpg');
   }
}

h1 {
  font-family: 'Bellefair';
  font-size: 150px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Bellefair';
  font-size: 100px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Bellefair';
  font-size: 56px;
  text-transform: uppercase;
}

h4 {
  font-family: 'Bellefair';
  font-size: 32px;
  text-transform: uppercase;
}

h5 {
  font-family: 'Barlow Condensed';
  font-size: 28px;
  text-transform: uppercase;
  color: #D0D6F9;
  letter-spacing: 4.75px;
}

nav {
  font-family: 'Barlow Condensed';
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  position: relative;
}

hr {
  width: 40%;
  display: inline-block;
  position: absolute;
  top: 45%;
  border-color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 0.1);
}

a {
  padding: 20px;
}

.links {
  position: absolute;
  top: 30%;
  right: 0;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 25px 100px 25px 75px;
}

.subheading-one {
  font-family: 'Bellefair';
  font-size: 28px;
  text-transform: uppercase;
}

.subheading-two {
  font-family: 'Barlow Condensed';
  font-size: 14px;
  letter-spacing: 2.35px;
  text-transform: uppercase;
}

.logo {
  margin: 50px;
}
