body {
  background-color: #0B0D17;
  color: #FFFFFF;
  font-family: 'Barlow Condensed';
}

h1 {
  font-family: 'Bellefair';
  font-size: 150px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Bellefair';
  font-size: 100px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Bellefair';
  font-size: 56px;
  text-transform: uppercase;
}

h4 {
  font-family: 'Bellefair';
  font-size: 32px;
  text-transform: uppercase;
}

h5 {
  font-family: 'Barlow Condensed';
  font-size: 28px;
  text-transform: uppercase;
  color: #D0D6F9;
  letter-spacing: 4.75px;
}

nav {
  font-family: 'Barlow Condensed';
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.subheading-one {
  font-family: 'Bellefair';
  font-size: 28px;
  text-transform: uppercase;
}

.subheading-two {
  font-family: 'Barlow Condensed';
  font-size: 14px;
  letter-spacing: 2.35px;
  text-transform: uppercase;
}
