body {
  color: #FFFFFF;
  font-family: 'Barlow Condensed';
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 480px) {
    .index {
        background-image: url('assets/home/background-home-mobile.jpg');
    }
    .destination {
      background-image: url('assets/destination/background-destination-mobile.jpg')
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .index {
        background-image: url('assets/home/background-home-tablet.jpg');
    }
    .destination {
      background-image: url('assets/destination/background-destination-tablet.jpg')
    }
}

@media (min-width: 1025px) {
    .index {
	    background-image: url('assets/home/background-home-desktop.jpg');
   }
   .destination {
     background-image: url('assets/destination/background-destination-desktop.jpg')
   }
}

h1 {
  font-family: 'Bellefair';
  font-size: 150px;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-family: 'Bellefair';
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 25px;
  margin-top: 50px;
}

h3 {
  font-family: 'Bellefair';
  font-size: 56px;
  text-transform: uppercase;
}

h4 {
  font-family: 'Bellefair';
  font-size: 32px;
  text-transform: uppercase;
}

h5 {
  font-family: 'Barlow Condensed';
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4.75px;
  font-weight: 400;
}

nav {
  position: relative;
  font-family: 'Barlow Condensed';
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

hr {
  border-color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 0.1);
}

.nav-hr {
  display: inline-block;
  position: absolute;
  top: 45%;
  width: 40%;
}

a {
  margin: 20px;
  padding-bottom: 25px;
  text-decoration: none;
  color: inherit;
}

a:hover {
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

p {
  color: #D0D6F9;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
}

.purple {
  color: #D0D6F9;
}

.grey {
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.5);
}

.links {
  position: absolute;
  top: 30%;
  right: 0;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 25px 100px 25px 75px;
}

.bold {
  font-weight: 700;
  margin-right: 5px;
}

.subheading-one {
  font-family: 'Bellefair';
  font-size: 28px;
  text-transform: uppercase;
  margin-top: 0;
  color: #FFFFFF;
}

.subheading-two {
  font-family: 'Barlow Condensed';
  font-size: 14px;
  letter-spacing: 2.35px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.logo {
  margin: 50px;
}

.intro {
  width: 450px;
  position: absolute;
  top: 300px;
  left: 150px;
  padding-bottom: 150px;
}

.explore {
  background-color: #FFFFFF;
  color: #0B0D17;
  padding: 25px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  position: absolute;
  top: 450px;
  left: 70%;
}

.explore:hover {
  box-shadow: 0 0 0 50px rgb(255, 255, 255);
  box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.3);
}

.subtitle {
  margin-left: 150px;
  margin-bottom: 100px;
}

.sub-nav-text {
  position: absolute;
  top: 300px;
  left: 60%;
  width: 30%;
  padding-bottom: 100px;
}

.tabs {
  color: #D0D6F9;
  font-family: 'Barlow Condensed';
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.active {
  color: #FFFFFF;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.planet-img {
  margin-left: 200px;
}

.destination-text {
  margin-bottom: 45px;
}

.right {
  position: absolute;
  left: 250px;
  bottom: 100px;
}
