body {
  color: #FFFFFF;
  font-family: 'Barlow Condensed';
}

@media (max-width: 480px) {
    body {
        background-image: url('assets/home/background-home-mobile.jpg');
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    body {
        background-image: url('assets/home/background-home-tablet.jpg');
    }
}

@media (min-width: 1025px) {
    body {
	    background-image: url('assets/home/background-home-desktop.jpg');
   }
}

h1 {
  font-family: 'Bellefair';
  font-size: 150px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Bellefair';
  font-size: 100px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Bellefair';
  font-size: 56px;
  text-transform: uppercase;
}

h4 {
  font-family: 'Bellefair';
  font-size: 32px;
  text-transform: uppercase;
}

h5 {
  font-family: 'Barlow Condensed';
  font-size: 28px;
  text-transform: uppercase;
  color: #D0D6F9;
  letter-spacing: 4.75px;
}

nav {
  font-family: 'Barlow Condensed';
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.subheading-one {
  font-family: 'Bellefair';
  font-size: 28px;
  text-transform: uppercase;
}

.subheading-two {
  font-family: 'Barlow Condensed';
  font-size: 14px;
  letter-spacing: 2.35px;
  text-transform: uppercase;
}
