body {
  color: #FFFFFF;
  font-family: 'Barlow Condensed';
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 480px) {
    .index {
        background-image: url('assets/home/background-home-mobile.jpg');
    }
    .destination {
      background-image: url('assets/destination/background-destination-mobile.jpg');
    }
    .crew {
      background-image: url('assets/crew/background-crew-mobile.jpg');
    }
    .technology {
      background-image: url('assets/technology/background-technology-mobile.jpg');
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .index {
        background-image: url('assets/home/background-home-tablet.jpg');
    }
    .destination {
      background-image: url('assets/destination/background-destination-tablet.jpg')
    }
    .crew {
      background-image: url('assets/crew/background-crew-tablet.jpg')
    }
    .technology {
      background-image: url('assets/technology/background-technology-tablet.jpg');
    }
    .logo {
      margin: 30px;
    }
    .nav-hr {
      display: none;
    }
    .links {
      float: right;
      background-color: rgb(255, 255, 255);
      background-color: rgba(255, 255, 255, 0.1);
      padding: 35px 35px 35px 35px;
    }
    .bold {
      display: none;
    }
    .nav-link {
      padding-bottom: 30px;
    }
}

@media (min-width: 1025px) {
    .index {
	    background-image: url('assets/home/background-home-desktop.jpg');
   }
   .destination {
     background-image: url('assets/destination/background-destination-desktop.jpg')
   }
   .crew {
     background-image: url('assets/crew/background-crew-desktop.jpg')
   }
   .technology {
     background-image: url('assets/technology/background-technology-desktop.jpg');
   }
   .logo {
     margin: 50px;
   }
   .nav-hr {
     display: inline-block;
     position: absolute;
     top: 45%;
     width: 40%;
   }
   .links {
     margin-top: 45px;
     float: right;
     background-color: rgb(255, 255, 255);
     background-color: rgba(255, 255, 255, 0.1);
     padding: 25px 100px 25px 75px;
   }
   .bold {
     font-weight: 700;
     margin-right: 5px;
   }
}

h1 {
  font-family: 'Bellefair';
  font-size: 150px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
}

h2 {
  font-family: 'Bellefair';
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 25px;
  margin-top: 50px;
}

h3 {
  font-family: 'Bellefair';
  font-size: 56px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 25px;
}

h4 {
  font-family: 'Bellefair';
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
}

h5 {
  font-family: 'Barlow Condensed';
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4.75px;
  font-weight: 400;
}

nav {
  position: relative;
  font-family: 'Barlow Condensed';
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

hr {
  border-color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 0.1);
}

a {
  margin: 20px;
  padding-bottom: 25px;
  text-decoration: none;
  color: inherit;
}

.nav-link:hover {
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

p {
  color: #D0D6F9;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
}
.purple {
  color: #D0D6F9;
}

.grey {
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.5);
}

.subheading-one {
  font-family: 'Bellefair';
  font-size: 28px;
  text-transform: uppercase;
  margin-top: 0;
  color: #FFFFFF;
}

.subheading-two {
  font-family: 'Barlow Condensed';
  font-size: 14px;
  letter-spacing: 2.35px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.intro {
  width: 450px;
  position: absolute;
  top: 300px;
  left: 150px;
  padding-bottom: 150px;
}

.explore {
  background-color: #FFFFFF;
  color: #0B0D17;
  padding: 25px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  position: absolute;
  top: 450px;
  left: 70%;
}

.explore:hover {
  box-shadow: 0 0 0 50px rgb(255, 255, 255);
  box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.2);
}

.subtitle {
  margin-left: 150px;
  margin-bottom: 100px;
}

.sub-nav-text {
  position: absolute;
  top: 300px;
  left: 60%;
  width: 30%;
  padding-bottom: 100px;
}

.tabs {
  color: #D0D6F9;
  font-family: 'Barlow Condensed';
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.active {
  color: #FFFFFF;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.planet-img {
  margin-left: 200px;
}

.destination-text {
  margin-bottom: 45px;
}

.right {
  position: absolute;
  left: 250px;
  bottom: 100px;
}

.crew-text {
  width: 45%;
  margin-left: 150px;
  margin-top: 150px;
}

.crew-text p {
  margin-bottom: 75px;
  width: 65%;
}

.crew-img {
  position: absolute;
  top: 250px;
  left: 60%;
}

#hurley {
  top: 200px;
}

.dot {
  font-size: 50px;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.1);
  margin-left: 0;
}

.dot:hover{
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.5);
  border-bottom: none;
}

.active-circle {
  color: #FFFFFF;
}

.numbers {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  text-align: center;
  line-height: 75px;
  border: solid rgba(255, 255, 255, 0.5) 1px;
}

.numbers:hover {
  border-color: #FFFFFF;
}

.active-num {
  background-color: #FFFFFF;
  color: #0B0D17;
}

.tech-body {
  margin-left: 150px;
  margin-top: 150px;
}

.uppercase {
  text-transform: uppercase;
}

.tech-text {
  position: absolute;
  top: 375px;
  left: 325px;
}

.tech-paragraph {
  width: 35%;
  margin-bottom: 150px;
}

.tech-image {
  position: absolute;
  right: 0;
  top: 250px;
}
