body {
  color: #FFFFFF;
  font-family: 'Barlow Condensed';
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 480px) {
    body {
        background-image: url('assets/home/background-home-mobile.jpg');
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    body {
        background-image: url('assets/home/background-home-tablet.jpg');
    }
}

@media (min-width: 1025px) {
    body {
	    background-image: url('assets/home/background-home-desktop.jpg');
   }
}

h1 {
  font-family: 'Bellefair';
  font-size: 150px;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-family: 'Bellefair';
  font-size: 100px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Bellefair';
  font-size: 56px;
  text-transform: uppercase;
}

h4 {
  font-family: 'Bellefair';
  font-size: 32px;
  text-transform: uppercase;
}

h5 {
  font-family: 'Barlow Condensed';
  font-size: 28px;
  text-transform: uppercase;
  color: #D0D6F9;
  letter-spacing: 4.75px;
  font-weight: 400;
}

nav {
  position: relative;
  font-family: 'Barlow Condensed';
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

hr {
  width: 40%;
  display: inline-block;
  position: absolute;
  top: 45%;
  border-color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 0.1);
}

a {
  margin: 20px;
  padding-bottom: 25px;
  text-decoration: none;
  color: inherit;
}

a:hover {
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

p {
  color: #D0D6F9;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
}

.links {
  position: absolute;
  top: 30%;
  right: 0;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 25px 100px 25px 75px;
}

.bold {
  font-weight: 700;
}

.active {
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.subheading-one {
  font-family: 'Bellefair';
  font-size: 28px;
  text-transform: uppercase;
}

.subheading-two {
  font-family: 'Barlow Condensed';
  font-size: 14px;
  letter-spacing: 2.35px;
  text-transform: uppercase;
}

.logo {
  margin: 50px;
}

.intro {
  width: 450px;
  position: absolute;
  top: 300px;
  left: 150px;
  padding-bottom: 150px;
}

.explore {
  background-color: #FFFFFF;
  color: #0B0D17;
  padding: 25px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  position: absolute;
  top: 450px;
  left: 70%;
}

.explore:hover {
  box-shadow: 0 0 0 50px rgb(255, 255, 255);
  box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.3);
}

.sub-nav-text {
  font-family: 'Barlow Condensed';
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
